{% extends "base.html" %}
{% block content %}
<div style="background-color:#ccccb3; height:100%">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Register</h5>
            <form class="form-signin" method="post">
              {% csrf_token %}
              <div class="form-label-group">
                <label for="inputEmail">Email address</label>
                <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email Address" required autofocus>
              </div>

              <div class="form-label-group">
                <label for="inputFirstName">First Name</label>
                <input type="text" id="inputFirstName" name="firstname" class="form-control" placeholder="First Name" required>
              </div>

              <div class="form-label-group">
                <label for="inputLastName">Last Name</label>
                <input type="text" id="inputLastName" name="lastname" class="form-control" placeholder="Last Name" required autofocus>
              </div>


              <div class="form-label-group">
                <label for="inputPassword">Password</label>
                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
              </div>

              <div class="form-label-group">
                  <label for="inputConfirmPassword">Confirm password</label>
                <input type="password" id="inputConfirmPassword" name="confirmpassword" class="form-control" placeholder="Password" required>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase"  name="signup" type="submit">Register</button>
              <a class="d-block text-center mt-2 small" href="http://127.0.0.1:8000/login">Sign In</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
