{% extends "base.html" %}
{% block content %}
<div class="container">
<center><h4>Quiz Instructions</h4></center>
<p>1. Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
<p>2. It has roots in a piece of classical Latin literature from 45 BC.</p>
<p>3. making it over 2000 years old. Richard McClintock, a Latin professor</p>
<p>4. at Hampden-Sydney College in Virginia, looked up one of the more obscure</p>
<p>5. Latin words, consectetur, from a Lorem Ipsum passage, and going through </p>
</div>
<center><a href="{{section.get_test_url}}"><div class="btn btn-primary" >Start Quiz</div></a></center>

{% endblock %}
